.about-button {
  position: absolute;
  right: 28px;
  top: 8px;

  width: 28px;
  height: 28px;

  border-radius: 1000px;

  border: 1px solid #aaaac2;
  box-shadow: none;

  outline: none;

  background-color: transparent;
  backdrop-filter: blur(25px);

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: black;

  cursor: pointer;
}

.about-button:hover {
  border-color: #515165;
}

.about-button:active {
  border-color: black;
  background-color: black;
  color: white;
}
