.about-form {
  position: absolute;
  top: 65px;
  right: 86px;

  width: 396px;
  height: 536px;

  border-radius: 10px;

  border: 1px solid #cacae4;

  padding: 24px 30px 50px 35px;

  background-color: black;
}

.title {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.content-container {
  margin: 25px 0px 0px 22px;

  display: flex;
  flex-direction: column;
  align-items: start;

  pointer-events: none;
}

.text {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;
}

.link {
  color: #18ffff;
  font-weight: 600;

  pointer-events: auto;

  cursor: pointer;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.contact-email {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  pointer-events: none;
}

.paper-doi {
  margin-top: 51px;
}

.close-button {
  position: absolute;
  top: 13px;
  right: 17px;

  margin: 0px;

  border: none;
  outline: none;

  padding: 3px 12px;
  border-radius: 3px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #ffaeae;

  pointer-events: auto;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  background-color: transparent;
}

.close-button:hover {
  background-color: #302b2b;
}

.close-button:active {
  background-color: #474040;
}
