.about-form {
  position: absolute;
  top: 65px;
  right: 86px;


  width: 465px;
  height: 515px;

  border-radius: 16px;

  border: 1px solid #220536;

  padding: 24px 4px 50px 33px;

  background-color: #e2e2ff6e;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.title {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: 700;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.content-container {
  margin: 24px 0px 0px 21px;

  display: flex;
  flex-direction: column;
  align-items: start;

  pointer-events: none;
}

.text {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.link {
  color: rgb(28, 13, 219);
  font-weight: 600;

  pointer-events: auto;

  cursor: pointer;

  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.contact-email {
  margin-top: 35px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  pointer-events: none;
}

.paper-doi {
  margin-top: 40px;
}

.close-button {
  position: absolute;
  top: 13px;
  right: 17px;

  border: none;
  outline: none;

  padding: 3px 12px;
  border-radius: 3px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #871414;

  pointer-events: auto;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  background-color: transparent;
}

.close-button:hover {
  background-color: #cab8d99c;
}

.close-button:active {
  background-color: #aa8eba9e;
}
